.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}
#projects {
    background-color: #e2edff;
}
#projects h2 {
    padding-bottom: 2rem;
}
section {
    padding-top: 5rem;
}
#gallery a img {
    width: 300px ;
    height: 300px;
    width: 100%;
    border: 2px solid white;
}
#gallery .row > * {
    padding: 0;
}